.reserveEditBooking {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rContainerEditBooking {
  background-color: white;
  padding: 20px;
  position: relative;
  gap: 20px;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitleEditBooking {
  font-weight: 500;
}

.labelEditBooking {
  font-weight: 300;
  gap: 20px;
  margin: 10px 0 10px 0;
}

.h3 {
  margin: 5px 0 5px 0;
}

.rSelectRoomsBooking {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  size: 30px;
  font-weight: bold;
  margin: 5px 0 5px 0;
  color: gray;
}

.room {
  display: flex;
  flex-direction: column;
}

.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.rTitle {
  width: 5vw;
}

.label {
  width: 3vw;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.editRoom {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
  font-size: medium;
}

.input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}
