.register {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.registerContainer {
  padding: 0px 20px 0px 20px;
  border: #0071c2 3px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.registerForm {
  display: flex;
  flex-direction: auto;
  gap: 5px;
}

.registerForm-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.registerTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.registerLabel {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.registerTerm {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  cursor: pointer;
}

.registerCheckbox {
  margin-bottom: 5px;
}

.registerInput {
  height: 25px;
  width: 25vw;
  padding: 10px;
  margin-bottom: 5px;
}

.registerSelect {
  height: 49px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.registerButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0px;
}

.registerButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
