.navbar {
  height: 50px;
  background-image: linear-gradient(#001e49, #003580);
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
}

.navButton {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.accountSelect {
  right: 0;
  width: min-content;
  background-color: #003580;
  color: white;
  border: none;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}
